 .u-section-1 {
  background-image: url("images/imagescroll4.jpg.webp");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 717px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: "Archivo Black";
  margin: 399px 485px 0 -19px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 11px 493px 60px 123px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: 311px;
    margin-right: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 393px;
    margin-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 224px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 300px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.578125rem;
    margin-right: 184px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 70px;
    font-size: 2.34375rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 127px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/Best-lawn_desktop.webp');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 870px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 0.4;
  margin: 195px auto 0 75px;
}

.u-section-2 .u-text-2 {
  margin: 163px auto 60px -38px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/min.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 476px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 157px 474px 0 21px;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 10px;
  line-height: 0.42;
  background-image: none;
  margin: 21px auto 60px 215px;
  padding: 44px 100px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 295px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 75px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 142px;
  }
}